.StreamViewContainer {
   display: grid;
   grid-template-columns: 1fr 350px;
   gap: 16px;
   width: 100%;
   height: calc(100vh - 150px);
}
.StreamViewLeft {
   width: 100%;
   min-width: 0;
   overflow-y: auto;
   -webkit-box-align: center;
   scrollbar-width: none;
   height: 100%;
}

.StreamViewRight {
   overflow-y: auto;
   display: flex;
   flex-direction: column;
   gap: 16px;
}
