@import '../../styles/$vars.scss';

.CardIconRoot {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 16px;

   background-color: var(--bg-page);
   border: 1px solid var(--primary100);

   transition: all $transitionSpeed $transitionFunction;

   padding: 24px;
   border-radius: 12px;

   cursor: pointer;

   position: relative;

   opacity: 0.6;
   @media (min-width: $desktop-min) {
      &:hover {
         border-color: var(--blue);
         opacity: 1;
      }
   }
   @media (max-width: $desktop) {
      flex-direction: row;
      align-items: center;
      justify-content: start;
   }
}

.CardIconRootActive {
   border-color: var(--blue);
   .CardIconCheck {
      opacity: 1;
      visibility: visible;
   }
}

.CardIconRootActiveOpacity {
   opacity: 1;
}

.CardIconImage {
   --size: 50px;
   width: var(--size);
   height: var(--size);
   @media (max-width: $desktop) {
      --size: 40px;
   }
}

.CardIconTitle {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   font-weight: 500;
}

.CardIconCheck {
   position: absolute;
   top: -4px;
   right: -4px;
   width: 20px;
   height: 20px;

   background-color: var(--blue);

   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;

   opacity: 0;
   visibility: hidden;

   transition: all $transitionSpeed $transitionFunction;
   svg {
      width: 10px;
      height: 10px;
      fill: none;
      stroke: var(--white);
      stroke-width: 1.5px;
   }
}
