.BlockDescrWrapper {
   display: -webkit-box;
   -webkit-line-clamp: 4;
   -webkit-box-orient: vertical;
   overflow: hidden;

   > p {
      &:not(:last-child) {
         margin-bottom: 4px;
      }
   }
}

.BlockDescrWrapperActive {
   display: block !important;
}

.BlockDescrBorder {
   padding: 24px 16px;
   border: 1px solid var(--primary200);
   border-radius: 2px 12px 12px 12px;
   color: var(--dark);
}
