@use 'sass:math';

$fontFamily: 'CoFoSans';
// $fontFamily: 'Manrope';
$fontSize: 14;
$minWidth: 320;
$maxWidth: 1920;
$contentWidth: 1190;
$containerOffset: 16;
$containerWidth: calc($contentWidth + ($containerOffset * 2));


// main colors
$bodyColor: #fff;
$mainColor: #3d3d3d;


// break points
$desktop: $containerWidth + px;
$desktop-min: ($containerWidth + 1) + px;
$tablet-max: 1024px;
$tablet-min: 1025px;

$smallTablet-max: 749px;
$smallTablet-min: 850px;

$mobile-max: 599px;
$mobile-min: 600px;

$smallMobile-max: 480px;
$smallMobile-min: 481px;

// others vars
$transitionSpeed: 0.2s;
$transitionSpeedFast: 0.1s;
$transitionFunction: ease-in-out;

@function percent($px, $from) {
   $result: math.div($px, $from) * 100%;
   @return $result;
}

@mixin fontFamily {
   font-family: $fontFamily, sans-serif;
}
