.StreamViewContainer {
   width: 100%;
   height: calc(100vh - 150px);
}
.StreamViewLeft {
   width: 100%;
   min-width: 0;
   overflow-y: auto;
   -webkit-box-align: center;
   scrollbar-width: none;
   height: 100%;
}

.StreamViewRight {
   overflow-y: auto;
   display: flex;
   flex-direction: column;
   gap: 16px;
}

.actionBtn {
   background-color: #333537;

   width: 56px;
   height: 56px;
   flex: 0 0 56px;
   border-radius: 50%;

   line-height: 1;

   display: flex;
   align-items: center;
   justify-content: center;
}
