@import '../../../styles/$vars.scss';

.RoomInfoRootMain {
   .RoomInfoRoot {
      position: relative;
      &::before {
         content: '';
         background-color: var(--primary800);
         width: calc(100% - 64px);
         height: 1px;
         position: absolute;
         bottom: 0;
         left: 32px;
         @media (max-width: $desktop) {
            width: calc(100% - 32px);
            left: 16px;
         }
      }
   }
}

.RoomInfoRoot {
   display: flex;
   align-items: center;
   gap: 24px;
   height: 80px;

   width: 100%;
   padding: 0 32px;
   position: relative;

   transition: all $transitionSpeed $transitionFunction;

   text-align: left;

   cursor: pointer;

   svg {
      transition: all $transitionSpeedFast $transitionFunction;
   }

   @media (min-width: $desktop-min) {
      &:hover {
         background-color: var(--primary800);
      }
   }

   @media (max-width: $desktop) {
      grid-template-columns: 1fr max-content max-content;
      height: auto;
      padding: 24px;
      grid-column-gap: 12px;
   }

   @media (max-width: $smallTablet-max) {
      padding: 24px 20px;
   }
}

.RoomInfoAttr {
   display: flex;
   align-items: center;
   gap: 6px;
   margin-left: auto;
   span {
      position: relative;
      @media (min-width: $desktop-min) {
         &:not(:first-child) {
            padding-left: 12px;
            &::before {
               content: '';
               position: absolute;
               left: 0;
               top: 4px;
               background-color: #1175da;
               border-radius: 50%;
               width: 5px;
               height: 5px;
            }
         }
      }
   }
   @media (max-width: $desktop) {
      flex-direction: column;
      align-items: start;
      margin-left: 0;
   }
}

.RoomInfoActiveRoot {
   background-color: var(--primary800);
   svg {
      transform: rotate(-180deg);
   }
}
