.userInfo {
   display: flex;
   gap: 12px;
}

.userInfoName {
   font-weight: 500;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   color: var(--dark);
}

.userInfoPos {
   margin-top: 2px;
   font-size: 12px;
   color: var(--primary400);
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}