@import '../../styles/$vars.scss';

.FormRowContainer {
   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.0705882353);
   position: relative;
}

.FormRowRoot {
   display: grid;
   align-items: center;
   grid-column-gap: 8px;
   @media (max-width: $desktop) {
      overflow: auto;
   }
}
