@import '../../../styles/$vars.scss';

.ApartmentPresentsCards {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 24px;
   @media (max-width: $smallTablet-max) {
      grid-template-columns: 1fr;
      grid-gap: 0px;
   }
}
